name: Container Build

on:
  pull_request:
    branches: [main, dev]
  push:
    branches: [main, dev]

permissions:
  contents: read
  packages: write
  security-events: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and Push Container
        uses: wgtechlabs/container-build-flow-action@v1.1.0
        with:
          registry: both
          image-name: zentrynel
          dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
          ghcr-token: ${{ secrets.GITHUB_TOKEN }}
