name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Release
        uses: wgtechlabs/release-build-flow-action@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
